@font-face {
    font-family: 'turtlesregular';
    src: url('../fonts/turtles-webfont.woff2') format('woff2'),
      url('../fonts/turtles-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
 
  body{
      font-family: 'turtlesregular'; 
      text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
      color: green;
  }
  .title{
  font-size: 2em;
  
  }
  .lead{
      font-size: 1.5em;
  }
  .describ{
      margin-top: 1.5em;
    font-size: 1.5em;
  }